.dropdown {
  position: absolute;
  top: 38px;
  right: 0px;
  border-radius: 8px;
  border: 1px solid #dddddd;
  width: 220px;
  height: 210px;
  background-color: white;
}

.mt {
  margin-top: 32px;
}

.top {
  border-bottom: 1px solid #dddddd;
}

.top,
.bottom {
  padding-bottom: 25px;
}

.top-text {
  margin: 10px 10px 0px 20px;
  padding: 10px 0 0 0;
  font-size: 15px;
}

.signup {
  font-weight: 500;
}
