/* TODO Add site wide styles */
/* @import url(https://fonts.googleapis.com/css?family=Nunito+Sans); */
@import url(https://fonts.googleapis.com/css?family=Inter);
@import url(https://fonts.googleapis.com/css?family=Montserrat);

body {
  font-family: Inter;
  font-size: 14px;
  color: #222;
  background-color: #fff;
  margin: 0;
}
