/* TODO Add site wide styles */
@import url(https://fonts.googleapis.com/css?family=Nunito+Sans);

body {
  font-family: Nunito Sans;
  font-size: 14px;
  color: #222;
  background-color: #fff;
  margin: 0;
}
