.header-container {
  height: 80px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
  border-bottom: 1px solid #dddddd;
}

.main-container {
  background: #fff;
  width: 100%;
  padding: 0 40px;
  margin: 16px 0 40px 0;
}

.homepage-container {
  position: relative;
}
