.site-content {
  max-width: 1280px;
}

.top-1::before {
  display: flex;
  content: "";
}

.top-1::after {
  display: flex;
  content: "";
}

.top-1 {
  max-width: 1120px;
}

.plrt-80-24 {
  padding: 24px 40px 0 40px;
}

.mb-4 {
  margin-bottom: 4px;
  max-width: 1120px;
}

.top-1-text {
  font-size: 26px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.mt-0 {
  margin-top: 0;
}

.fw {
  flex-wrap: wrap;
}

.mt-4-flex {
  margin-top: 4px;
  display: inline-flex;
  min-width: 0px;
  align-items: center;
}

.m-8-0 {
  margin: 8px 8px 0;
  color: rgb(113, 113, 113);
  font-weight: 400;
}

.mr-4-flex {
  display: inline-flex;
  align-items: center;
  color: #222222;
  margin-right: 4px;
  min-width: 14px;
}

.star-top-1 {
  display: block;
  height: 14px;
  width: 14px;
}
